li ul {
    margin-bottom: 0;
}

.sidebar {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar-about h1 {
    font-size: 2.8rem;
    font-family: "PT Sans", Helvetica, Arial, sans-serif
}

.avatar {
    padding-bottom: 2.5vh;
}

.avatar img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.test {
    color: #5f8b9e;
}
